Source: ros-kinetic-eigenpy
Section: misc
Priority: extra
Maintainer: Wolfgang Merkt <wolfgang.merkt@ed.ac.uk>
Build-Depends: debhelper (>= 9.0.0), git, libboost-all-dev, libeigen3-dev, python-dev, python-numpy, ros-kinetic-catkin
Homepage: https://github.com/stack-of-tasks/eigenpy
Standards-Version: 3.9.2

Package: ros-kinetic-eigenpy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libeigen3-dev, python-dev, python-numpy
Description: Bindings between Numpy and Eigen using Boost.Python - wrapped for catkin.
